<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cochalate</title>
    <!-- Favicon aplikasi -->
    <link
      rel="shortcut icon"
      href="/static/assets/Images/COCHALATE.png"
      type="image/x-icon"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/static/assets/Bootstrap5/css/bootstrap.min.css"
    />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/static/assets/FontAwesome6/css/all.min.css" />
    <!-- Custom style -->
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <!-- Bootstrap JS bundle -->
    <script src="/static/assets/Bootstrap5/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="/static/assets/Jquery/1.9.2/jquery.min.js"></script>
    <!-- Socket.IO -->
    <script src="/static/assets/SocketIo/4.7.2/socket.io.js"></script>
  </head>
  <body>
    <!-- Konten utama aplikasi -->
    <div class="main-content"></div>
  </body>
</html>
