<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cochalate</title>
    <link
      rel="stylesheet"
      href="/static/assets/Bootstrap5/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/assets/FontAwesome6/css/all.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <script src="/static/assets/Bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/Jquery/1.9.2/jquery.min.js"></script>
    <script src="/static/assets/SocketIo/4.7.2/socket.io.js"></script>
  </head>
  <body>
    <div class="main-content"></div>
  </body>
</html>
