{% include "separate/header.html" %}
<section class="chatbox">
  <header class="chatbox-header">
    <div class="chatbox-header-title">
      <i class="fas fa-comment-alt"></i>
      <strong>Cochalate v.1.1</strong><br />
      <div class="typing-indicator mt-1"></div>
    </div>
    <div class="chatbox-header-options">
      <div class="dropdown">
        <a href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
          <i class="fas fa-gear fa-lg ms-2" style="color: gray"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li class="dropdown-item">room : {{code_room}}</li>
          <li class="dropdown-item">username : {{session['username']}}</li>
          <li class="dropdown-item">
            online user : <span id="users_username"></span>
          </li>
          <li>
            <a class="dropdown-item" href="/logout"
              ><i class="fas fa-right-from-bracket"></i>&nbsp;Log Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main class="chatbox-chat" id="chatbox-chat">
    {%if messages%} {%for msg in messages%}
    <div
      class="msg {{'left-msg' if (msg['username'] != session['username']) else 'right-msg'}} {{'server' if msg['username']=='Chocalate Server'}}"
    >
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">{{msg['username']}}</div>
          <div class="msg-info-time">{{msg['time']}}</div>
        </div>
        <div class="msg-text">{{msg['msg']}}</div>
      </div>
    </div>
    {%endfor%} {%endif%}
    <div id="bottom"></div>
  </main>

  <div class="chatbox-inputarea">
    <textarea
      type="text"
      class="chatbox-input"
      placeholder="Enter your message..."
      id="message"
    ></textarea>
    <button type="button" class="chatbox-send-btn" onclick="SendMessage()">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  </div>
</section>
{% include "separate/footer.html" %}
<script type="text/javascript" charset="utf-8">
  var socket = io("192.168.1.6:5000");

  //==========================================================================================
  //===================== HANDLING DISCONNECT MESSAGE ========================================
  //==========================================================================================
  //==================================START===================================================
  window.onbeforeunload = function () {
    var currentdate = new Date();
    var datetime =
      currentdate.getDate() +
      "/" +
      (currentdate.getMonth() + 1) +
      "/" +
      currentdate.getFullYear() +
      "-" +
      currentdate.getHours() +
      ":" +
      currentdate.getMinutes() +
      ":" +
      currentdate.getSeconds();
    socket.emit("client_disconnecting", {
      username: "Chocalate Server",
      msg: "{{session['username']}}" + " had left the room",
      time: datetime,
      users_username: $("#users_username").text(),
    });
  };
  //==================================END=====================================================
  //==========================================================================================
  //===================== HANDLING DISCONNECT MESSAGE ========================================
  //==========================================================================================

  //==========================================================================================
  //===================== HANDLING RECEIVED MESSAGE ==========================================
  //==========================================================================================
  //==================================START===================================================
  socket.on("message", function (data) {
    if (data.username == '{{session["username"]}}') {
      content =
        '<div class="msg right-msg"> <div class="msg-bubble"><div class="msg-info"><div class="msg-info-name">' +
        data.username +
        '</div><div class="msg-info-time">' +
        data.time +
        '</div></div><div class="msg-text">' +
        data.msg +
        "</div></div></div>";
    } else if (data.username != '{{session["username"]}}') {
      if (data.username === "Chocalate Server") {
        content =
          '<div class="msg left-msg server"> <div class="msg-bubble"><div class="msg-info"><div class="msg-info-name">' +
          data.username +
          '</div><div class="msg-info-time">' +
          data.time +
          '</div></div><div class="msg-text">' +
          data.msg +
          "</div></div></div>";
      } else {
        content =
          '<div class="msg left-msg"> <div class="msg-bubble"><div class="msg-info"><div class="msg-info-name">' +
          data.username +
          '</div><div class="msg-info-time">' +
          data.time +
          '</div></div><div class="msg-text">' +
          data.msg +
          "</div></div></div>";
      }
    }

    if (data.msg !== "") {
      $("#chatbox-chat").append(content);
    }

    if (typeof data.users_username == Array) {
      let txt = "";
      data.users_username.forEach(accessing_array);

      let string_length = txt.length;
      let result = txt.substr(0, string_length - 1);

      $("#users_username").text(result);

      function accessing_array(value) {
        txt += value + ",";
      }
    } else {
      $("#users_username").text(data.users_username);
    }
    $(".msg").last()[0].scrollIntoView();

    indicator =
      '<div class="indicator" id="' +
      data.username +
      '"><small>&nbsp;' +
      data.username +
      " is typing.</small></div>";

    if (data.status == "now typing") {
      $(".typing-indicator").append(indicator);
    } else if (data.status == "done typing") {
      $("#" + data.username).remove();
    }
  });
  //==================================END=====================================================
  //==========================================================================================
  //===================== HANDLING RECEIVED MESSAGE ==========================================
  //==========================================================================================

  //==========================================================================================
  //===================== FUNCTION TO SEND MESSAGE ===========================================
  //==========================================================================================
  //================================START=====================================================
  function SendMessage() {
    var currentdate = new Date();
    var datetime =
      currentdate.getDate() +
      "/" +
      (currentdate.getMonth() + 1) +
      "/" +
      currentdate.getFullYear() +
      "-" +
      currentdate.getHours() +
      ":" +
      currentdate.getMinutes() +
      ":" +
      currentdate.getSeconds();
    if ($("#message").val() != "") {
      socket.send({
        username: '{{session["username"]}}',
        msg: $("#message").val(),
        time: datetime,
        users_username: $("#users_username").text(),
      });
      $("#message").val("");
    }
  }
  //================================END=======================================================
  //==========================================================================================
  //===================== FUNCTION TO SEND MESSAGE ===========================================
  //==========================================================================================

  //==========================================================================================
  //===================== TYPING INDICATOR====================================================
  //==========================================================================================
  //================================START=======================================================
  $(function () {
    var theText = $("#message");
    var typing = false;
    var timeout = undefined;
    var elementClicked = false;

    function timeoutFunction() {
      typing = false;
      socket.emit("client_done_typing", {});
      console.log("done...");
    }

    theText.keydown(function (event) {
      $("#button").click(function () {
        elementClicked = true;
      });

      if (elementClicked != true) {
        if (typing == false) {
          typing = true;
          socket.emit("client_now_typing", {});
          console.log("typing...");
          timeout = setTimeout(timeoutFunction, 1000);
        } else {
          clearTimeout(timeout);
          timeout = setTimeout(timeoutFunction, 1000);
        }
      } else {
        typing = false;
        socket.emit("client_done_typing", {});
        console.log("done...");
      }
    });
  });

  //================================END=======================================================
  //==========================================================================================
  //===================== TYPING INDICATOR ===================================================
  //==========================================================================================

  //==========================================================================================
  //===================== TAB AT TEXT AREA ===================================================
  //================================START=====================================================
  //==========================================================================================

  document.getElementById("message").addEventListener("keydown", function (e) {
    if (e.key == "Tab") {
      e.preventDefault();
      var start = this.selectionStart;
      var end = this.selectionEnd;

      // set textarea value to: text before caret + tab + text after caret
      this.value =
        this.value.substring(0, start) + "\t" + this.value.substring(end);

      // put caret at right position again
      this.selectionStart = this.selectionEnd = start + 1;
    }
  });
  //================================END=======================================================
  //==========================================================================================
  //===================== TAB AT TEXT AREA ===================================================
  //==========================================================================================
</script>
